{% extends "base.html" %}

{% block title %}Home | Warehouse{% endblock %}

{% block content %}
<div class="row" id="dashboard-row">
  {% if session['user']['role'] == 'superadmin' or session['user']['role'] == 'admin' %}
    <div id="users-table"></div>
    {% if session['user']['role'] == 'superadmin' %}
    <div id="companies-table"></div>
    {% endif %}
  {% endif %}
  <div id="income-overview-chart"></div>
  <div id="visitor-chart"></div>
  <div id="visitor-chart-1"></div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page Specific JS -->
<script src="{{ url_for('static', filename='js/plugins/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/elements/card.js') }}"></script>
<script src="{{ url_for('static', filename='js/elements/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/elements/bar-chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>


<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const container = document.querySelector(".row");

    // Users
    const resUsers = await fetch("/paginate", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ table_name: "users", limit: 5, offset: 0 })
    });
    const users = await resUsers.json();
    container.appendChild(createUsersTableCard({ title: "Users", rows: users.data }));

    // Companies
    const resCompanies = await fetch("/paginate", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ table_name: "companies", limit: 5, offset: 0 })
    });
    const companies = await resCompanies.json();
    container.appendChild(createCompaniesTableCard({ title: "Companies", rows: companies.data }));
  });
</script>
{% endblock %}
