{% extends "base.html" %}

{% block title %}Home | Warehouse{% endblock %}

{% block content %}
<div id="page-data"
     data-role="{{ role }}"
     data-company-id="{{ company_id if company_id else '' }}">
</div>

<div class="row" id="dashboard-row">
    <div id="users-table"></div>
    <br>
    {% if role == 'superadmin' or role == 'admin'%}
      <div id="companies-table"></div>
      <br>
      <div id="stats-container"></div>
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/plugins/apexcharts.min.js') }}"></script>

<!-- CORE components -->
<script type="module" src="{{ url_for('static', filename='js/elements/card.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/elements/table.js') }}"></script>

<!-- PAGE LOGIC -->
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
