{% extends "base.html" %}

{% block title %}Main | CodingNepal{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    <div class="blur-bg-overlay"></div>
    {% if not session.get('user') %}
    <div class="form-popup">
        <div class="form-box login">
            <div class="form-details"></div>
            <div class="form-content">
                <h2>LOGIN</h2>
                <form>
                    <div class="input-field">
                        <input type="text" required>
                        <label>Username or Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <a href="#" class="forgot-pass-link">Forgot password?</a>
                    <button type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
