<header>
    <nav>
      <div class="logo">
        <h1>Warehouse</h1>
      </div>
      <ul>
        <li>
          <a href="/">{{ t('home') }}</a>
        </li>
          {% if 'superadmin' in session.get('user', {}).get('roles', []) or 'admin' in session.get('user', {}).get('roles', []) %}
              <li><a href="/users_panel">{{ t('user_panel') }}</a></li>
          {% endif %}
        <li>
            <form action="/set_language" method="get">
                <select name="lang" onchange="this.form.submit()" style="margin-right: 1rem;">
                    <option value="en" {% if g.lang == 'en' %}selected{% endif %}>English</option>
                    <option value="cz" {% if g.lang == 'cz' %}selected{% endif %}>Čeština</option>
                </select>
            </form>
        </li>
      </ul>
      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
    <div class="menubar">
      <ul>
        <li>
          <a href="/">{{ t('home') }}</a>
        </li>
        <li>
          <a href="/users_panel">{{ t('admin_panel') }}</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">Logout</a>
        </li>
      </ul>
    </div>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</header>
