Flask==3.0.0
Flask-Compress==1.14
flask-session
flask_sqlalchemy

SQLAlchemy==2.0.25
psycopg2-binary==2.9.9

Jinja2==3.1.2               # Flask templating
requests==2.31.0            # if Flask calls FastAPI
PyYAML==6.0.2

# Optional data/plotting if needed for frontend
pandas==2.0.3
pillow==10.2.0
plotly==5.18.0
gunicorn==21.2.0            # Production server for Flask