{% extends "base_views/base.html" %}

{% block title %}Home | Warehouse{% endblock %}

{% block content %}

<!-- [ Dashboard Grid ] -->
<div class="row">

  <!-- KPI cards row -->
  <div class="col-md-12 mb-4">
    <div class="row" id="stats-container">
      <!-- Donut + KPI cards injected here -->
    </div>
  </div>

  <!-- Online users -->
  <div class="col-12 col-xl-8 mb-4">
    <div id="users-table"></div>
  </div>

  <div class="col-md-12 col-xl-4">
    {% if role == 'superadmin' %}
      <!-- Companies (superadmin only) -->
      <div id="companies-table"></div>
    {% elif role == 'admin' or role == 'manager' or role == 'employee' %}
      <!-- Low Item Stock (company tied roles only) -->
      <div id="low-item-stock-table"></div>
    {% endif %}
  </div>


</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/plugins/apexcharts.min.js') }}"></script>

<!-- CORE components -->
<script type="module" src="{{ url_for('static', filename='js/elements/card.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/elements/table.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/elements/donut_stat.js') }}"></script>

<!-- PAGE LOGIC -->
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>

{% if error %}
    <script>
    alert("Login failed: {{ error }}");
    </script>
{% endif %}

{% endblock %}
